@model Calculator

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Result</title>
</head>
<body>
<div>
      <h3>@ViewBag.Komunikat @Model.A @Model.Op @Model.B = @Model.Calculate()</h3>
</div>
</body>
</html>