@model CalculatorModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <h3>@ViewBag.Komunikat @ViewBag.a @ViewBag.op @ViewBag.b = @ViewBag.Result</h3>
</div>
</body>
</html>