@model Dictionary<int, Komputer>

@{
    
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
        table {
            border-collapse: collapse; 
        }
        th, td {
            padding: 10px; 
            border: 1px solid #ccc; 
            text-align: left; 
        }
        th {
            background-color: #f4f4f4; 
        }
    </style>
    
</head>
<body>
<div>
    <h2>Lista komputerów</h2>

    <table>
        <tr>
            <th>Producent</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Karta graficzna</th>
            <th>Data produkcji</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Value.Producent</td>
            <td>@item.Value.Cpu</td>
            <td>@item.Value.Ram</td>
            <td>@item.Value.Gpu</td>
            <td>@item.Value.DataProdukcji</td>
            <td>
                <a class="btn btn-primary"
                   asp-action="Edit"
                   asp-controller="Komputer"
                   asp-route-id=@item.Key>Edytuj</a>
                <a class="btn btn-primary"
                   asp-action="Details"
                   asp-controller="Komputer"
                   asp-route-id=@item.Key>Szczegóły</a>
                <a class="btn btn-primary"
                   asp-action="Delete"
                   asp-controller="Komputer"
                   asp-route-id=@item.Value.Id>Usuń</a>
            </td>
        </tr>
        }
        <tr>
            <a class="btn btn-primary"
               asp-action="CreateForm"
               asp-controller="Komputer">Dodaj nowy komputer</a>
        </tr>
    </table>
</div>
</body>
</html>
